<a href="https://colab.research.google.com/github/MiguelSalvatierra23/predicciones-de-ventas-alimenticias/blob/main/predicciones_de_ventas_alimenticias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importamos librerias**

In [26]:
import numpy as np
import pandas as pd

**Agregamos el archivo y lo ejecutamos**

In [35]:
filename = '/content/sales_predictions.csv'

In [36]:
df = pd.read_csv(filename)
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

**Vemos la cantidad de filas y columnas**

In [37]:
df.shape

(8523, 12)

**Vemos los tipos de datos que tenemos**

In [38]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

**Vemos si tenemos valores duplicados**

In [ ]:
df.duplicated()

In [40]:
df.duplicated().sum()

0

Despues de aplicar el comando 'df.duplicated().sum()' vemos que no tenemos valores duplicados

**Identificamos los valores faltantes**

In [ ]:
df.isna()

In [42]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

**Eliminamos valores faltantes**

In [43]:
df.dropna(inplace=True)

Confirmamos que no hay valores faltantes

In [45]:
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

**Obtenemos estadisticas resumidas**

In [47]:
df.describe().round(2)

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,4650.00,4650.00,4650.00,4650.00,4650.00
mean,12.90,0.06,141.72,1999.19,2272.04
std,4.67,0.04,62.42,7.39,1497.96
min,4.56,0.00,31.49,1987.00,69.24
25%,8.77,0.03,94.41,1997.00,1125.20
50%,12.65,0.05,142.98,1999.00,1939.81
75%,17.00,0.09,186.61,2004.00,3111.62
max,21.35,0.19,266.89,2009.00,10256.65